
 <!-- <div class="wrapper"> -->
   <!-- <div class="column" >
      <h2>Toppers</h2>
      <app-student-detail [studentsData]='getTopperRecord()'(MarksValuealueChnaged)=
                                         "trapValueChanged($event)"></app-student-detail>
    </div>
    <div class="column">
      <h2>Avarage</h2>
      <app-student-detail [studentsData]='getMediocoreRecord()'(MarksValuealueChnaged)=
                                         "trapValueChanged($event)"></app-student-detail>
    </div> -->
    <!-- <div class="column">
      <h2>Rest Others</h2>
      <app-student-detail [studentsData]='getLowerRecord()' (MarksValuealueChnaged)=
                                          "trapValueChanged($event)"></app-student-detail>
    </div>
  </div> -->

<div>
  <input type="text" [(ngModel)]="name"]>
  <p>Welcome {{name}}</p>
</div>

<div>
  <input #nameRef type="text" [(ngModel)]="customerName">
  <p>Welcome {{customerName}}</p>
</div>

<div>
  <input type="text" [(ngModel)]="userName">
  <p>Welcome {{userName}}</p>
</div>


<!-- <router-outlet></router-outlet> -->
